<a href="https://colab.research.google.com/github/syh0397/Statistics_python/blob/main/8_Anova_test(Multivariate).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Basic pip and import**

In [1]:
!pip install pingouin
!pip install --upgrade pingouin
!pip install scikit_posthocs

Installing collected packages: scikit-posthocs
Successfully installed scikit-posthocs-0.6.7

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd 
import numpy as np 

import os
import sys
import warnings
warnings.filterwarnings('ignore')

import sklearn 
import missingno as msno
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn')
sns.set(font_scale=2.5)

import scipy 
from scipy import  stats
import statsmodels.api as sm
import pylab as py

import pingouin as pg
import scikit_posthocs

pd.options.display.float_format = '{:.3f}'.format

- Manova라고 부른다
- 연속형 종속변수가 둘 이상일때 사용 
---

In [6]:
a = sns.load_dataset('taxis')
a

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.600,7.000,2.150,0.000,12.950,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.790,5.000,0.000,0.000,9.300,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.370,7.500,2.360,0.000,14.160,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.700,27.000,6.150,0.000,36.950,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.160,9.000,1.100,0.000,13.400,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.750,4.500,1.060,0.000,6.360,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.740,58.000,0.000,0.000,58.800,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.140,16.000,0.000,0.000,17.300,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.120,6.000,0.000,0.000,6.800,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.850,15.000,3.360,0.000,20.160,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

- 'fare', 'tip', 'distance' 연속형변수
- 'passengers' = 카테고리형 변수

In [7]:
from statsmodels.multivariate.manova import MANOVA

host = a[['passengers', 'fare', 'tip', 'distance']]
print(MANOVA.from_formula('fare + tip + distance~passengers', data = host).mv_test())

                   Multivariate linear model
================================================================

----------------------------------------------------------------
       Intercept        Value  Num DF   Den DF   F Value  Pr > F
----------------------------------------------------------------
          Wilks' lambda 0.5992 3.0000 6429.0000 1433.2654 0.0000
         Pillai's trace 0.4008 3.0000 6429.0000 1433.2654 0.0000
 Hotelling-Lawley trace 0.6688 3.0000 6429.0000 1433.2654 0.0000
    Roy's greatest root 0.6688 3.0000 6429.0000 1433.2654 0.0000
----------------------------------------------------------------

----------------------------------------------------------------
         passengers       Value  Num DF   Den DF  F Value Pr > F
----------------------------------------------------------------
            Wilks' lambda 0.9995 3.0000 6429.0000  1.0495 0.3693
           Pillai's trace 0.0005 3.0000 6429.0000  1.0495 0.3693
   Hotelling-Lawley trace 0.0005 3.0000 6429.0000  1.0495 0.3693
      Roy's greatest root 0.0005 3.0000 6429.0000  1.0495 0.3693
================================================================

- 위가 상수항
- 아래가 독립변수
- 위는 통계적으로 유의미함
- 아래는 통계적으로 유의미 하지 않음